.features-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 126px;
    gap: 16px;
}

.skin-viewer-img {
    margin-top: 72px;
    margin-left: 80px;
}

.wiki-img {
    margin-top: 72px;
    margin-left: 80px;
}