@media (max-width: 1450px) {
    .window {

        height: 50%;

        &__title {
            padding-top: 3vw;
            padding-left: 3vw;
        }

        &__info {
            max-width: 90%;
            padding-top: 1vw;
            padding-left: 3vw;
        }

        &_trade {
            height: 39vw;

        }

        &_market {
            height: 50vw;

        }

        &_skin-viewer {
            font-size: 1vw;
        }

        &_wiki {
            font-size: 1vw;
        }

    }

    .infobox {
        &__divider {
            width: 27vw;
        }

        &_trade-wrapper {
            margin-top: 9vw;

        }

        &_market-wrapper {
            margin-top: 9vw;

        }


    }

    .site-info-wrapper {
        margin: 0 2vw;
    }

    .skins-img {
        padding-top: 3vw;
    }

    .trade-logo {
        padding-left: 9vw;
    }

    .trade-title {
        padding-left: 10vw;

    }

    .trade-wrapper {
        padding-right: 10vw;
        padding-left: 10vw;

    }

    .trade-back-img {
        padding: 5vw 0;
    }

    .trade-front-img {
        width: 70%;
        margin-top: 20%;
        margin-left: 35%;
    }

    .market-logo {
        padding-left: 9vw;
    }

    .market-title {
        padding-left: 10vw;
    }

    .market-wrapper {
        padding-left: 10vw;
        padding-right: 8vw;

    }

    .market-back-img {
        margin: 15% 0 0 22%;
        width: 55%;
    }

    .market-front-img {
        width: 45%;

    }

    .features-wrapper {
        margin: 0 2vw;
    }
}

@media (max-width: 1280px) {
    .footer-buttons-wrapper {
        display: flex;
        gap: 67px
    }
}


@media (max-width: 1024px) {
    .window {
        width: 470px;

        &__title {
            padding-left: 20px;
            font-size: 30px;
        }

        &__info {
            padding-left: 20px;
            font-size: 14px;
        }
    }

    .infobox {
        &__info {
            font-size: 14px;
        }

        &__point-text {
            font-size: 16px;
        }


    }

    .trade-title {
        font-size: 56px;
        width: 90%;
    }

    .market-title {
        font-size: 56px;
        width: 90%;
    }

    .market-wrapper {
        gap: 5vw;

    }

    // .market-front-img {
    //     width: 45%;

    // }

    .button-window {
        margin-top: 12px;
        margin-left: 20px;
    }

    .skin-viewer-img {
        margin-top: 14px;
        margin-left: 40px;
    }

    .wiki-img {
        margin-top: 14px;
        margin-left: 40px;

    }

    .footer {
        height: 365px;
    }

}

@media (max-width: 768px) {

    .header {
        padding-top: 285px;
        font-size: 38px;
        max-width: 90%;
    }

    .subheader {
        padding-top: 24px;
        font-size: 20px;
        max-width: 90%;
    }

    .site-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .window {
        width: 75vw;
        height: 100%;

        &__title {
            font-size: 26px;
            line-height: 32px;
        }

        &_support {
            margin-top: 28px;
        }

        &_trade {
            width: 100%;
            height: 20%;
        }

        &_market {
            width: 100%;
            height: 20%;
        }

        &_skin-viewer {
            display: block;

        }

        &_wiki {
            margin-top: 25px;
            display: block;
        }
    }

    .infobox {
        &_trade-wrapper {
            align-items: center;
            text-align: center;
        }

        &_market-wrapper {
            align-items: center;
            text-align: center;
        }

        &__divider {
            width: 80%;
        }
    }

    .trade-title {
        font-size: 32px;
    }

    .trade-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .market-title {
        font-size: 29px;
    }

    .market-wrapper {
        flex-direction: column;
        gap: 0px;
    }

    .market-back-img {
        margin: auto;
    }

    .market-front-img {
        margin: auto;


    }

    .features-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
    }

    .skin-viewer-img,
    .wiki-img {
        margin-left: 20px;
    }


    footer {
        display: none;
    }

}