@media (max-width: 1280px) {
    .trade-logo {
        padding-left: 72px;
    }

    .trade-title {
        padding-left: 80px;

    }

    .trade-wrapper {
        padding-left: 80px;
    }

    .trade-back-img {
        width: 100%;
    }

    .trade-front-img {
        width: 70%;
        margin-left: 35%;
    }

    .market-logo {
        padding-left: 72px;
    }

    .market-title {
        padding-left: 80px;
    }

    .market-wrapper {
        padding-left: 80px;
        gap: 39px;
    }

    .market-back-img {
        margin: 19% 5% 5% 28%;
        width: 60%;
    }

    .market-front-img {
        width: 57%;

    }
}

@media (max-width: 1024px) {
    .window {
        height: 490px;
        width: 470px;

        &__title {
            padding-left: 20px;
        }

        &__info {
            padding-left: 20px;

            &_skin-viewer {
                font-size: 16px;
            }

            &_wiki {
                font-size: 16px;
            }
        }
    }

    .market-front-img {
        width: 57%;

    }

    .button-window {
        margin-top: 12px;
        margin-left: 20px;
    }

    .skin-viewer-img {
        margin-top: 14px;
        margin-left: 40px;
    }

    .wiki-img {
        margin-top: 14px;
        margin-left: 40px;

    }

    .footer {
        height: 365px;
    }

}

@media (max-width: 768px) {

    .window {

        height: 590px;
        width: 608px;

        &_skins {
            margin-top: 0px;
        }

        &_support {
            margin-top: 50px;
        }

        &_wiki {
            margin-top: 50px;
            justify-items: left;
        }

        &_trade {
            width: 500px;
            height: 430px;

        }

        &_market {
            width: 500px;
            height: 460px;
        }


    }

    .infobox {
        &_trade-wrapper {
            margin-top: 106px;
        }

        &__divider {
            width: 210px;
        }

        &__info {
            font-size: 14px;
        }

        &__point-text {
            font-size: 16px;
        }
    }

    .trade-title {
        font-size: 60px;
    }

    .trade-wrapper {
        padding-left: 0px;
        margin-left: -4px;
        gap: 22px
    }

    .market-title {
        font-size: 60px;
    }

    .market-wrapper {
        padding-left: 40px;
        margin-right: -4px;

    }

    .site-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
    }

    footer {
        display: none;
    }
}


@media (max-width: 430px) {

    .header {
        padding-top: 285px;
        font-size: 38px;
    }

    .subheader {
        padding-top: 24px;
        font-size: 20px;
    }

    .window {
        height: 370px;
        width: 300px;

        &__title {
            display: block;
            text-align: center;
            padding-top: 12px;
            padding-left: 0;
            font-size: 36px;

        }

        &__info {
            padding-top: 8px;
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;

            &_skin-viewer {
                padding-top: 0;
                font-size: 14px;
            }

            &_wiki {
                
                padding-top: 0;
                font-size: 14px;
            }
        }

        &_support {
            margin-top: 25px;
        }

        &_trade {
            height: 240px;
        }

        &_market {
            height: 360px;
        }

        &_skin-viewer {
            display: block;

        }

        &_wiki {
            margin-top: 25px;
            display: block;
        }
    }

    .skins-img {
        padding-top: 28px;
    }

    .support-chat-img {
        padding-top: 22px;
    }


    .trade-logo {
        margin: auto;
        padding-top: 96px;
        padding-left: 0;

    }

    .infobox {
        &_trade-wrapper {
            gap: 16.8px;
            margin-top: 30px;
            text-align: center;
        }

        &_market-wrapper {
            gap: 16.8px;
            margin-top: 30px;
            text-align: center;
        }
    }

    .market-logo {
        margin: auto;
        padding-top: 96px;
        padding-left: 0;

    }

    .trade-title {
        display: block;
        text-align: center;
        padding-top: 24px;
        padding-left: 0;
        font-size: 29px;
    }

    .trade-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        gap: 0;
    }

    .trade-back-img {
        padding: 40px 0;
    }

    .trade-front-img {
        margin-top: 25%;
        margin-left: 32%
    }

    .market-title {
        display: block;
        text-align: center;
        padding-top: 24px;
        padding-left: 0;
        font-size: 29px;
    }

    .market-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .market-back-img {
        margin: 30px 0 0 30px;
    }

    .market-front-img {
        margin: 10px 437.86px 0 0;
    }

    .site-info-wrapper {

        padding-top: 275px;
    }



}