h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  all: unset;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: #806CF5;
  cursor: pointer;
}
.button:hover {
  background-color: #b7a7ff;
}
.button:focus-visible {
  outline: 2px solid #FFF;
  outline-offset: 2px;
  border-radius: 2px;
  background-color: #b7a7ff;
}
.button__list-item {
  cursor: pointer;
}
.button__list-item:hover {
  color: #8C7EE1;
}
.button__list-item:focus-visible {
  outline: 2px solid #FFF;
  outline-offset: 2px;
  border-radius: 2px;
}

.button-login {
  margin-top: 32px;
  padding: 14px 31px;
  gap: 8px;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
}
.button-login__text {
  padding-top: 2px;
  font-size: 18px;
  color: #FFF;
}
.button-login__icon {
  padding-bottom: 2px;
}

.button-window {
  margin-top: 24px;
  margin-left: 40px;
  height: 38px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.button-window__text {
  color: #FFF;
}

.button-logo {
  width: 110px;
  height: 40px;
  padding: 8px 4px;
  cursor: pointer;
}

.window {
  display: grid;
  overflow: hidden;
  height: 590px;
  width: 608px;
  border-radius: 8px;
  background-color: #1C1A24;
}
.window__title {
  padding: 48px 0 0 40px;
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}
.window__info {
  padding: 12px 0 0 40px;
  color: #9592A3;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
.window__info_skin-viewer {
  padding-top: 8px;
  font-weight: 500;
}
.window__info_wiki {
  padding-top: 8px;
  font-weight: 500;
}
.window_skins {
  margin-top: 124px;
}
.window_support {
  margin-top: 284px;
}
.window_trade {
  overflow: visible;
  width: 766px;
  height: 571px;
  margin-top: 56px;
  border-radius: 4px;
}
.window_market {
  overflow: visible;
  width: 766px;
  height: 720px;
  margin-top: 56px;
  border-radius: 4px;
}
.window_skin-viewer {
  justify-items: left;
}
.window_wiki {
  margin-top: 170px;
  justify-items: left;
}

.infobox_trade-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23.8px;
  margin-top: 126px;
}
.infobox_market-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 126px;
}
.infobox_header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.infobox__title {
  color: #FFF;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
}
.infobox__title_market {
  font-size: 22px;
}
.infobox__info {
  color: #BBB9C7;
  font-size: 16px;
  font-weight: 500;
  line-height: 139%;
}
.infobox__info_market {
  line-height: 136%;
}
.infobox__divider {
  width: 315px;
  height: 1px;
  background: #312F3D;
}
.infobox__point-text {
  color: #817E8F;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
}
.infobox__point-text_market {
  font-size: 22px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1408px;
  height: 252px;
  margin: 152px auto 0;
  padding: 16px;
}

.footer-section__list-title {
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.38px;
}
.footer-section__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  color: #817E8F;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.26px;
  list-style-type: none;
}
.footer-section__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  gap: 12px;
}
.footer-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 190px;
  height: 56px;
  padding: 8px;
  gap: 12px;
  background: #312F3D;
  cursor: pointer;
  border-radius: 4px;
}

.extantion_icon {
  padding: 2px 0;
}

.footer__button-info {
  color: #817E8F;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.26px;
}

.footer__button-subtitle {
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.26px;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header {
  padding-top: 288.5px;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.72px;
}

.subheader {
  padding-top: 24px;
  color: #9592A3;
  line-height: 150%;
  font-size: 18px;
  font-weight: 600;
}

.site-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 226px;
  gap: 16px;
}

.skins-img {
  padding-top: 48px;
}

.support-chat-img {
  padding-top: 52px;
}

.trade-logo {
  padding-top: 96px;
  padding-left: 132px;
}

.trade-title {
  padding-top: 24px;
  padding-left: 140px;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.44px;
}

.trade-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 140px;
  gap: 39px;
}

.trade-back-img {
  padding: 85px 0 84px 0;
  grid-area: 1/2;
}

.trade-front-img {
  margin-top: 174px;
  margin-left: 274.64px;
  grid-area: 1/2;
}

.market-logo {
  padding-top: 96px;
  padding-left: 132px;
}

.market-title {
  padding-top: 24px;
  padding-left: 140px;
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.44px;
}

.market-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 140px;
  gap: 79px;
}

.market-back-img {
  margin: 117px 171.344px 111.375px 167.31px;
  grid-area: 1/2;
}

.market-front-img {
  margin: 140px 437.86px 236.7px -16px;
  grid-area: 1/2;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 126px;
  gap: 16px;
}

.skin-viewer-img {
  margin-top: 72px;
  margin-left: 80px;
}

.wiki-img {
  margin-top: 72px;
  margin-left: 80px;
}

@media (max-width: 1280px) {
  .trade-logo {
    padding-left: 72px;
  }
  .trade-title {
    padding-left: 80px;
  }
  .trade-wrapper {
    padding-left: 80px;
  }
  .trade-back-img {
    width: 100%;
  }
  .trade-front-img {
    width: 70%;
    margin-left: 35%;
  }
  .market-logo {
    padding-left: 72px;
  }
  .market-title {
    padding-left: 80px;
  }
  .market-wrapper {
    padding-left: 80px;
    gap: 39px;
  }
  .market-back-img {
    margin: 19% 5% 5% 28%;
    width: 60%;
  }
  .market-front-img {
    width: 57%;
  }
}
@media (max-width: 1024px) {
  .window {
    height: 490px;
    width: 470px;
  }
  .window__title {
    padding-left: 20px;
  }
  .window__info {
    padding-left: 20px;
  }
  .window__info_skin-viewer {
    font-size: 16px;
  }
  .window__info_wiki {
    font-size: 16px;
  }
  .market-front-img {
    width: 57%;
  }
  .button-window {
    margin-top: 12px;
    margin-left: 20px;
  }
  .skin-viewer-img {
    margin-top: 14px;
    margin-left: 40px;
  }
  .wiki-img {
    margin-top: 14px;
    margin-left: 40px;
  }
  .footer {
    height: 365px;
  }
}
@media (max-width: 768px) {
  .window {
    height: 590px;
    width: 608px;
  }
  .window_skins {
    margin-top: 0px;
  }
  .window_support {
    margin-top: 50px;
  }
  .window_wiki {
    margin-top: 50px;
    justify-items: left;
  }
  .window_trade {
    width: 500px;
    height: 430px;
  }
  .window_market {
    width: 500px;
    height: 460px;
  }
  .infobox_trade-wrapper {
    margin-top: 106px;
  }
  .infobox__divider {
    width: 210px;
  }
  .infobox__info {
    font-size: 14px;
  }
  .infobox__point-text {
    font-size: 16px;
  }
  .trade-title {
    font-size: 60px;
  }
  .trade-wrapper {
    padding-left: 0px;
    margin-left: -4px;
    gap: 22px;
  }
  .market-title {
    font-size: 60px;
  }
  .market-wrapper {
    padding-left: 40px;
    margin-right: -4px;
  }
  .site-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 25px;
  }
  footer {
    display: none;
  }
}
@media (max-width: 430px) {
  .header {
    padding-top: 285px;
    font-size: 38px;
  }
  .subheader {
    padding-top: 24px;
    font-size: 20px;
  }
  .window {
    height: 370px;
    width: 300px;
  }
  .window__title {
    display: block;
    text-align: center;
    padding-top: 12px;
    padding-left: 0;
    font-size: 36px;
  }
  .window__info {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
  }
  .window__info_skin-viewer {
    padding-top: 0;
    font-size: 14px;
  }
  .window__info_wiki {
    padding-top: 0;
    font-size: 14px;
  }
  .window_support {
    margin-top: 25px;
  }
  .window_trade {
    height: 240px;
  }
  .window_market {
    height: 360px;
  }
  .window_skin-viewer {
    display: block;
  }
  .window_wiki {
    margin-top: 25px;
    display: block;
  }
  .skins-img {
    padding-top: 28px;
  }
  .support-chat-img {
    padding-top: 22px;
  }
  .trade-logo {
    margin: auto;
    padding-top: 96px;
    padding-left: 0;
  }
  .infobox_trade-wrapper {
    gap: 16.8px;
    margin-top: 30px;
    text-align: center;
  }
  .infobox_market-wrapper {
    gap: 16.8px;
    margin-top: 30px;
    text-align: center;
  }
  .market-logo {
    margin: auto;
    padding-top: 96px;
    padding-left: 0;
  }
  .trade-title {
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-left: 0;
    font-size: 29px;
  }
  .trade-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    gap: 0;
  }
  .trade-back-img {
    padding: 40px 0;
  }
  .trade-front-img {
    margin-top: 25%;
    margin-left: 32%;
  }
  .market-title {
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-left: 0;
    font-size: 29px;
  }
  .market-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .market-back-img {
    margin: 30px 0 0 30px;
  }
  .market-front-img {
    margin: 10px 437.86px 0 0;
  }
  .site-info-wrapper {
    padding-top: 275px;
  }
}
* {
  font-family: Inter;
}

body {
  background: #100F14;
}

main {
  background: url(../img/header_background.png) no-repeat center -2.43%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */