h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Inter";

}

body {
    background-color: #100F14;
}

main { background-image: url(../img/header_background.png);
    background-repeat: no-repeat;
    background-position: 19% -2.3%;
    /* background-position: center top; */
}


.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

}

.header_container {
    min-height: 824px;
    padding: 288.5px 0 30px;
}

.title {
    display: block;
    width: 570px;
    margin: 0 auto;
    color: var(--White-100, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.72px;
}

.info {
    display: block;
    width: 448px;
    margin: 22px auto;
    color: #9592A3;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.button {
    display: flex;
    border-radius: 4px;
    background: var(--Purple-500, #806CF5);
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 56px;
    margin: 32px auto;
    padding: 15px 16px;
}

.login_button_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login_button_text {
    color: var(--White-100, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}

.slider_dots_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 185.5px auto 0 auto;
    width: 88px;
    height: 10px;
    flex-shrink: 0;
    display: none;
}

.slider_dot_1 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: var(--Purple-500, #806CF5);
}

.slider_dot_2 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #312F3D;
}

.slider_dot_3 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #312F3D;
}

.slider_dot_4 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #312F3D;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.window {
    width: 608px;
    height: 590px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Graybase-700, #1C1A24);
    overflow: hidden;

}

.skins_window {
    margin-top: 124px;
}

.support_window {
    margin-top: 284px;
}


.window_title {
    padding: 48px 0 0 0;
    margin: auto 40px;
    width: 528px;
    color: var(--White-100, #FFF);
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}

.window_dscr {
    padding: 12px 0 0 0;
    margin: auto 40px;
    width: 528px;
    color: #9592A3;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.skins_img {
    margin-top: 57.82px;

}

.support_img {
    margin-top: 52px;
}

.trade_container {
    padding-top: 90px;
}

.logo {
    margin-left: 132px;
}

.trade_title {
    width: auto;
    text-align: left;
    margin-top: 24px;
    margin-left: 140px;
    font-family: Inter;
    font-size: 72px;
}

.trade_window {
    display: grid;
    overflow: visible;
    width: 766px;
    height: 571px;
    margin-top: 56px;
    margin-left: 140px;
}

.trade_back_img {
    margin: 85px 0 84px 0;
}

.trade_front_img {
    margin-top: 174.94px;
    margin-left: 274.64px;
}

.trade_back_img,
.trade_front_img {
    grid-area: 1 / 1 / 2 / 2;

}

.info_box {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 126px;
}

.info_box_wrapper {

    display: flex;
    gap: 16px;
}

.info_wrapper {
    flex-wrap: wrap;
    gap: 8px;

}

.info_box_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.info_box_divider {
    width: 315px;
    height: 1px;
    margin-left: 40px;
    background: var(--Graybase-500, #312F3D);
}

.loading_icon {
    padding-top: 3px;
}

.info_box_title {
    color: var(--White-100, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.info_box_dscr {
    color: #BBB9C7;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.info_box_points_text {
    color: var(--Graybase-200, #817E8F);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.trade_wrapper {
    display: flex;
    gap: 39px;
}

.market_container {
    padding-top: 90px;
}

.market_title {
    width: auto;
    text-align: left;
    margin-top: 24px;
    margin-left: 140px;
    font-family: Inter;
    font-size: 72px;
}

.market_wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 39px;

}

.market_window {
    display: grid;
    overflow: visible;
    width: 766px;
    height: 720px;
    margin-top: 56px;
    margin-right: 140px;
}

.info_box_point_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.market_back_img {
    margin: 117px 171.344px 111.375px 167.31px;
}

.market_front_img {
    margin: 141px 437.86px 236.7px -16px;
}

.market_back_img,
.market_front_img {
    grid-area: 1 / 1 / 2 / 2;

}

.skin_viewer_window {
    margin-top: 126px;
}

.wiki_window {
    margin-top: 310px;
}

.skin_viewer_info,
.wiki_info {
    padding-top: 8px;
}

.button_text {
    color: var(--White-100, #FFF);
    font-feature-settings: 'ss01' on, 'cv01' on;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 16px;
}

.skin_viewer_button,
.wiki_button {
    display: inline-flex;
    height: 38px;
    padding: 8px 12px;
    margin-top: 24px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.skin_viewer_img,
.wiki_img {
    margin-top: 72px;
    margin-left: 80px;

}

.join_us_window {
    min-width: 1408px;
    height: 730px;
    margin: 138px auto 0;
}

.join_us_title {
    color: var(--White-100, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.44px;
    padding-top: 209px;

}

.join_us_info {
    color: var(--White-100, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
}

.join_us_button {
    display: flex;
    width: 160px;
    height: 56px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    margin: 36px auto;
}

.footer_window {
    background-color: #100F14;
    min-width: 1408px;
    height: 252px;
    margin: 48px auto 0;
    padding: 16px;
}

.footer_wrapper {
    justify-content: space-between;
}

.list_name {
    color: var(--White-100, #FFF);
    font-feature-settings: 'cv01' on, 'ss01' on;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.item_list_name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    color: var(--Graybase-200, #817E8F);
    font-feature-settings: 'cv01' on, 'ss01' on;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.26px;
    padding: 0;
    margin-top: 12px;
}

.cs_money_icon {
    display: flex;
    width: 110px;
    height: 40px;
    padding: 8px 5.366px 8.399px 5.366px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer_icon_window {
    width: 190px;
    /* height: 56px; */
    height: min-content;
}

.footer_window_wrapper {
    padding: 8px;
    gap: 12px;

}

.footer_window_name_info_text {
    color: var(--White-100, #FFF);
    font-feature-settings: 'cv01' on, 'ss01' on;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.footer_window_additional_info_text {
    color: var(--Graybase-200, #817E8F);
    font-feature-settings: 'cv01' on, 'ss01' on;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.26px;
}


.window_footer_wrapper {
    flex-direction: column;
    gap: 12px;
}

.icon_box_wrapper {

    display: flex;
    gap: 16px;
}