h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  all: unset;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  font-family: "Inter";
  background: #100F14;
}

main {
  background: url(../img/header_background.png) no-repeat center -2.7%;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  text-align: center;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.72px;
}

.dscr {
  text-align: center;
  margin: 24px auto;
  color: #9592A3;
  line-height: 150%;
  font-size: 18px;
  font-weight: 600;
}

.window {
  display: grid;
  overflow: hidden;
  height: 590px;
  width: 608px;
  border-radius: 4px;
  background-color: #1C1A24;
}

.title_window {
  text-align: left;
  margin: 48px 0 0 40px;
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
}

.window_dscr {
  margin: 12px 0 0 40px;
  color: #9592A3;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: #806CF5;
  cursor: pointer;
}
.button_text {
  color: #FFF;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
}
.button:hover {
  background-color: #b7a7ff;
}

.info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23.8px;
  margin-top: 126px;
}
.info_box_title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.info_box_title {
  color: #FFF;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
}
.info_box_dscr {
  color: #BBB9C7;
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;
}
.info_box_divider {
  width: 315px;
  height: 1px;
  background: #312F3D;
}
.info_box_points_text {
  color: #817E8F;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
}

.header_container {
  min-height: 824px;
  padding: 288.5px 0 0 0;
}

.button_login {
  width: 180px;
  margin: 32px auto;
  padding: 15px 16px 16px 16px;
  gap: 8px;
}
.button_login_text {
  padding-top: 3px;
  font-size: 18px;
  font-weight: 600;
}

.site_info_wrapper {
  gap: 16px;
}

.window_skins {
  margin-top: 124px;
}

.window_support {
  margin-top: 284px;
}

.skins_img {
  margin-top: 48px;
}

.support_chat_img {
  margin-top: 52px;
}

.trade_container {
  padding-top: 96px;
}
.trade_logo {
  margin-left: 132px;
}
.trade_title {
  margin-top: 24px;
  margin-left: 140px;
  text-align: left;
  letter-spacing: -1.44px;
}
.trade_wrapper {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 39px;
  margin-left: 140px;
}
.trade_window {
  overflow: visible;
  width: 766px;
  height: 571px;
  margin-top: 56px;
}
.trade_back_img {
  margin: 85px 0 84px 0;
  grid-area: 1/2;
}
.trade_front_img {
  margin-top: 174px;
  margin-left: 274.64px;
  grid-area: 1/2;
}

.market_container {
  padding-top: 96px;
}
.market_logo {
  margin-left: 132px;
}
.market_title {
  margin-top: 24px;
  margin-left: 140px;
  text-align: left;
  letter-spacing: -1.44px;
}
.market_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 140px;
  gap: 79px;
}
.market_window {
  overflow: visible;
  width: 766px;
  height: 720px;
  margin-top: 56px;
}
.market_back_img {
  margin: 117px 171.344px 111.375px 167.31px;
  grid-area: 1/2;
}
.market_front_img {
  margin: 140px 437.86px 236.7px -16px;
  grid-area: 1/2;
}
.market_info_box {
  gap: 20px;
}
.market_info_box_title {
  font-size: 22px;
}
.market_info_box_dscr {
  line-height: 136%;
}
.market_info_box_point_text {
  font-size: 22px;
}

.features_wrapper {
  gap: 16px;
}

.wiki_window {
  margin-top: 296px;
}
.wiki_window_dscr {
  margin-top: 8px;
  font-weight: 500;
}

.skin_viewer_window {
  margin-top: 126px;
}
.skin_viewer_window_dscr {
  margin-top: 8px;
  font-weight: 500;
}

.skin_viewer_button,
.wiki_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 38px;
  margin-top: 24px;
  margin-left: 40px;
  padding: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skin_viewer_button_text {
  letter-spacing: -0.14px;
}

.skin_viewer_img,
.wiki_img {
  margin-top: 72px;
  margin-left: 80px;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_button_wrapper_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67px;
}
.footer_window {
  width: 1408px;
  height: 252px;
  margin: 152px auto 0;
  padding: 16px;
  background-color: #100F14;
}
.footer_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_icon_window {
  width: 190px;
}
.footer_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_button {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 190px;
  background: #312F3D;
  cursor: pointer;
  border-radius: 4px;
}
.footer_button:hover {
  background: #403d4d;
}
.footer_button_info {
  color: #817E8F;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.26px;
}
.footer_button_title {
  color: #FFF;
  font-weight: 500;
}

.window_footer_wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.cs_money_icon {
  width: 110px;
  height: 40px;
  padding: 8px 4px 8px 4px;
  cursor: pointer;
}

.list_title {
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.38px;
}

.list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-top: 12px;
  color: #817E8F;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.26px;
  list-style-type: none;
}

li a {
  cursor: pointer;
}
li a:hover {
  color: #8C7EE1;
}

@media (max-width: 1280px) {
  .site_info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
  .window_support {
    margin: 20px;
  }
  .trade_back_img {
    width: 100%;
  }
  .trade_front_img {
    width: 70%;
    margin-left: 35%;
  }
  .market_window {
    margin-right: 20px;
  }
  .market_back_img {
    margin: 19% 5% 5% 28%;
    width: 70%;
  }
  .market_front_img {
    width: 57%;
  }
  .features_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
  .wiki_window {
    margin: 20px;
  }
  .footer_button_wrapper_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .footer_window {
    height: 360px;
  }
}
@media (max-width: 1024px) {
  .market_window {
    height: 550px;
  }
  .trade_window {
    height: 450px;
  }
  .footer_window {
    margin-top: 75px;
  }
}/*# sourceMappingURL=style.css.map */