.features {
    &_wrapper {
        gap: 16px;
    }
}

.wiki_window {
    margin-top: 296px;


    &_dscr {
        margin-top: 8px;
        font-weight: 500;
    }
}

.skin_viewer_window {
    margin-top: 126px;


    &_dscr {
        margin-top: 8px;
        font-weight: 500;
    }
}

.skin_viewer_button,
.wiki_button {
    display: inline-flex;
    height: 38px;
    margin-top: 24px;
    margin-left: 40px;
    padding: 8px 12px;
    align-items: center;
}

.skin_viewer_button_text {
    letter-spacing: -0.14px;
}

.skin_viewer_img,
.wiki_img {

    margin-top: 72px;
    margin-left: 80px;

}