h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    all: unset;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    font-family: "Inter";
    background: #100F14;
}

main {
    background: url(../img/header_background.png) no-repeat center -2.7%;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.72px;
}

.dscr {
    text-align: center;
    margin: 24px auto;
    color: #9592A3;
    line-height: 150%;
    font-size: 18px;
    font-weight: 600;
}

.window {
    display: grid;
    overflow: hidden;
    height: 590px;
    width: 608px;
    border-radius: 4px;
    background-color: #1C1A24;
}

.title_window {
    text-align: left;
    margin: 48px 0 0 40px;
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
}

.window_dscr {
    margin: 12px 0 0 40px;
    color: #9592A3;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #806CF5;
    cursor: pointer;

    &_text {
        color: #FFF;
        font-size: 14px;
        font-weight: 550;
        line-height: 16px;
    }

    &:hover {
        background-color: #b7a7ff;
    }
}

.info_box {
    display: flex;
    flex-direction: column;
    gap: 23.8px;
    margin-top: 126px;

    &_title_wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &_title {
        color: #FFF;
        font-size: 21px;
        font-weight: 600;
        line-height: 140%;
    }

    &_dscr {
        color: #BBB9C7;
        font-size: 16px;
        font-weight: 500;
        line-height: 135%;
    }

    &_divider {
        width: 315px;
        height: 1px;
        background: #312F3D;
    }

    &_points_text {
        color: #817E8F;
        font-size: 21px;
        font-weight: 600;
        line-height: 140%;
    }
}