.market {
    &_container {
        padding-top: 96px;
    }

    &_logo {
        margin-left: 132px;
    }

    &_title {
        margin-top: 24px;
        margin-left: 140px;
        text-align: left;
        letter-spacing: -1.44px;
    }

    &_wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        margin-left: 140px;
        gap: 79px;
    }

    &_window {
        overflow: visible;
        width: 766px;
        height: 720px;
        margin-top: 56px;

    }

    &_back_img {
        margin: 117px 171.344px 111.375px 167.31px;
        grid-area: 1 / 2;
    }

    &_front_img {
        margin: 140px 437.86px 236.7px -16px;
        grid-area: 1 / 2;
    }

    &_info_box {
        gap: 20px;

        &_title {
            font-size: 22px;
        }

        &_dscr {
            line-height: 136%;
        }

        &_point_text {
            font-size: 22px;
        }
    }
}