.trade {
    &_container {
        padding-top: 96px;
    }

    &_logo {
        margin-left: 132px;
    }

    &_title {
        margin-top: 24px;
        margin-left: 140px;
        text-align: left;
        letter-spacing: -1.44px;
    }

    &_wrapper {
        justify-content: left;
        gap: 39px;
        margin-left: 140px;
    }

    &_window {
        overflow: visible;
        width: 766px;
        height: 571px;
        margin-top: 56px;

    }

    &_back_img {
        margin: 85px 0 84px 0;
        grid-area: 1 / 2;
    }

    &_front_img {
        margin-top: 174px;
        margin-left: 274.64px;
        grid-area: 1 / 2;
    }
}