h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    all: unset;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    font-family: "Inter";
    background: #100F14;
}

main {
    background: url(../img/header_background.png) no-repeat center -2.7%;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.72px;
}

.dscr {
    text-align: center;
    margin: 24px auto;
    color: #9592A3;
    line-height: 150%;
    font-size: 18px;
    font-weight: 600;
}

.window {
    display: grid;
    overflow: hidden;
    height: 590px;
    width: 608px;
    border-radius: 4px;
    background-color: #1C1A24;
}

.title_window {
    text-align: left;
    margin: 48px 0 0 40px;
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
}

.window_dscr {
    margin: 12px 0 0 40px;
    color: #9592A3;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #806CF5;
    cursor: pointer;

    &_text {
        color: #FFF;
        font-size: 14px;
        font-weight: 550;
        line-height: 16px;
    }

    &:hover {
        background-color: #b7a7ff;
    }
}

.header {
    &_container {
        min-height: 824px;
        padding: 288.5px 0 0 0;
    }
}

.button_login {
    width: 180px;
    margin: 32px auto;
    padding: 15px 16px 16px 16px;
    gap: 8px;

    &_text {
        padding-top: 3px;
        font-size: 18px;
        font-weight: 600;
    }
}

.site_info_wrapper {
    gap: 16px;
}

.window_skins {
    margin-top: 124px;
}

.window_support {
    margin-top: 284px;
}

.skins_img {
    margin-top: 48px;
}

.support_chat_img {
    margin-top: 52px;
}

.trade {
    &_container {
        padding-top: 96px;
    }

    &_logo {
        margin-left: 132px;
    }

    &_title {
        margin-top: 24px;
        margin-left: 140px;
        text-align: left;
        letter-spacing: -1.44px;
    }

    &_wrapper {
        justify-content: left;
        gap: 39px;
    }

    &_window {
        overflow: visible;
        width: 766px;
        height: 571px;
        margin-top: 56px;
        margin-left: 140px;
    }

    &_back_img {
        margin: 85px 0 84px 0;
        grid-area: 1 / 2;
    }

    &_front_img {
        margin-top: 174px;
        margin-left: 274.64px;
        grid-area: 1 / 2;

    }
}

.info_box {
    display: flex;
    flex-direction: column;
    gap: 23.8px;
    margin-top: 126px;

    &_title_wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &_title {
        color: #FFF;
        font-size: 21px;
        font-weight: 600;
        line-height: 140%;
    }

    &_dscr {
        color: #BBB9C7;
        font-size: 16px;
        font-weight: 500;
        line-height: 135%;
    }

    &_divider {
        width: 315px;
        height: 1px;
        background: #312F3D;
    }

    &_points_text {
        color: #817E8F;
        font-size: 21px;
        font-weight: 600;
        line-height: 140%;
    }
}

.market {
    &_container {
        padding-top: 96px;
    }

    &_logo {
        margin-left: 132px;
    }

    &_title {
        margin-top: 24px;
        margin-left: 140px;
        text-align: left;
        letter-spacing: -1.44px;
    }

    &_wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        gap: 79px;
    }

    &_window {
        overflow: visible;
        width: 766px;
        height: 720px;
        margin-top: 56px;
        margin-right: 140px;
    }

    &_back_img {
        margin: 117px 171.344px 111.375px 167.31px;
        grid-area: 1 / 2;
    }

    &_front_img {
        margin: 140px 437.86px 236.7px -16px;
        grid-area: 1 / 2;
    }

    &_info_box {
        gap: 20px;

        &_title {
            font-size: 22px;
        }

        &_dscr {
            line-height: 136%;
        }

        &_point_text {
            font-size: 22px;
        }
    }
}

.features {
    &_wrapper {
        gap: 16px;
    }
}

.wiki_window {
    margin-top: 296px;


    &_dscr {
        margin-top: 8px;
        font-weight: 500;
    }
}

.skin_viewer_window {
    margin-top: 126px;


    &_dscr {
        margin-top: 8px;
        font-weight: 500;
    }
}

.skin_viewer_button,
.wiki_button {
    display: inline-flex;
    height: 38px;
    margin-top: 24px;
    margin-left: 40px;
    padding: 8px 12px;
    align-items: center;
}

.skin_viewer_button_text {
    letter-spacing: -0.14px;
}

.skin_viewer_img,
.wiki_img {

    margin-top: 72px;
    margin-left: 80px;

}

.footer {
    &_container {
        display: flex;
    }

    &_window {

        width: 1408px;
        height: 252px;
        margin: 152px auto 0;
        padding: 16px;
        background-color: #100F14;
    }

    &_wrapper {
        justify-content: space-between;
    }

    &_icon_window {
        width: 190px;
    }

    &_button_wrapper {
        display: flex;
        padding: 8px;
        gap: 12px;
        align-items: center;
    }

    &_button {
        justify-content: left;
        width: 190px;
        background: #312F3D;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background: #403d4d;
        }

        &_info {
            color: #817E8F;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: .26px;
        }

        &_title {
            color: #FFF;
            font-weight: 500;
        }
    }
}

.window_footer_wrapper {
    flex-direction: column;
    gap: 12px;
}

.cs_money_icon {
    width: 110px;
    height: 40px;
    padding: 8px 4px 8px 4px;
    cursor: pointer;
}

.list_title {
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .38px;
}

.list_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-top: 12px;
    color: #817E8F;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .26px;
    list-style-type: none;
}

li {
    a {
        cursor: pointer;

        &:hover {
            color: #8C7EE1;
        }
    }
}